<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>lista de 50 <%= title %></p>
    <table>
      <td>
        <% for(var i = 0; i < 10; i++){ %>
          <tr><a href="/personagem/<%= marvel.data.results[i].id%>"><img src=<%= marvel.data.results[i].thumbnail.path %>.jpg style="width: 200px; height: 200px" /></a></tr>
        <%} %>
      </td>
      <td>
        <% for(var i = 10; i < 20; i++){ %>
          <tr><a href="/personagem/<%= marvel.data.results[i].id%>"><img src=<%= marvel.data.results[i].thumbnail.path %>.jpg style="width: 200px; height: 200px"/></a> </tr>
          <%} %>
      </td>
      <td>
        <% for(var i = 20; i < 30; i++){ %>
          <tr><a href="/personagem/<%= marvel.data.results[i].id%>"><img src=<%= marvel.data.results[i].thumbnail.path %>.jpg style="width: 200px; height: 200px"/></a> </tr>
          <%} %>
      </td>
      <td>
        <% for(var i = 30; i < 40; i++){ %>
          <tr><a href="/personagem/<%= marvel.data.results[i].id%>"><img src=<%= marvel.data.results[i].thumbnail.path %>.jpg style="width: 200px; height: 200px"/></a> </tr>
          <%} %>
      </td>
      <td>
        <% for(var i = 40; i < 50; i++){ %>
          <tr><a href="/personagem/<%= marvel.data.results[i].id%>"><img src=<%= marvel.data.results[i].thumbnail.path %>.jpg style="width: 200px; height: 200px"/></a> </tr>
          <%} %>
      </td>
    </table>

  </body>
</html>
<script>
</script>


