<!DOCTYPE html>
<html>
  <head>
    <title><%= marvel.data.results[0].name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= marvel.data.results[0].name %></h1>
    <img src=<%= marvel.data.results[0].thumbnail.path%>.jpg style="width: 300px; height: 300px; float: left; margin-right: 30px">
    <h2><%= marvel.data.results[0].description%></h2>
    <button type="button" onclick="window.location.href='/'" style="clear: both;float:left;margin-top: 30px;width: 60px;height: 30px">Voltar!</button>
  </body>
</html>
<script>
    console.log(<%= marvel.data.results[0].description%>);
</script>


